/* You can add global styles to this file, and also import other style files */

body {
    background: #ededed;
    margin: 0;
    padding: 0;
}

.card-view {
    padding: 1.2rem;
    background: white;
    border-radius: 5px;
}